/* COLOR */
.color-primary{
    color: var(--color-primary);
}
.color-primary-light{
    color: var(--color-primary-light);
}
.color-secondary{
    color: var(--color-secondary);
}
.color-grey-1{
    color: var(--color-grey-1);
}
.color-grey-2{
    color: var(--color-grey-2);
}
.color-grey-3{
    color: var(--color-grey-3);
}
.color-grey-4{
    color: var(--color-grey-4);
}
.color-white{
    color: var(--color-white);
}
.toggle-color{
    color: var(--toggle-color);
}
.text-color{
    color: var(--text-color);
}
.sidebar-color{
    color: var(--sidebar-color);
}

/* BACKGROUND */
.bg-color-primary{
    background-color: var(--color-primary);
}
.bg-color-logo{
    background-color: var(--color-logo);
}
.bg-color-primary-light{
    background-color: var(--color-primary-light);
}
.bg-color-secondary{
    background-color: var(--color-secondary);
}
.bg-color-grey-1{
    background-color: var(--color-grey-1);
}
.bg-color-grey-2{
    background-color: var(--color-grey-2);
}
.bg-color-grey-3{
    background-color: var(--color-grey-3);
}
.bg-color-grey-4{
    background-color: var(--color-grey-4);
}
.bg-color-white{
    background-color: var(--color-white);
}
.bg-toggle-color{
    background-color: var(--toggle-color);
}
.bg-body-color{
    background-color: var(--body-color);
}
.bg-sidebar-color{
    background-color: var(--sidebar-color);
}