body.dark {
    --color-primary: #3A3B3C;
    --color-primary-light: #3A3B3C;
    --color-grey-1: #212529;/*?*/
    --color-grey-2: #868E96;/*?*/
    --color-grey-3: #ADB5BD;/*?*/
    --color-grey-4: #D6D8DA;/*?*/
    --color-white: #F8F9FA;/*?*/
    --toggle-color: #FFF;
    --text-color: #CCC;
    --body-color: #18191A;
    --sidebar-color: #242526;
}