.structure{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}
.sidebar.close ~ .structure{
    left: 88px;
    width: calc(100% - 88px);
}